body {
  font-family: "Open Sans";
  min-height: 100vh;
}

.navbar {
  z-index: 1;
}

.top-image {
  width: 100%;
}

.message {
  max-width: 25rem;
  top: 30%;
  left: 2%;
}

.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

button.navbar-toggler.navbar-toggler-right {
  border-color: white !important;
}

.search-button:hover {
  background-color: dimgrey;
  color: rgba(0, 0, 0, 0.55) !important;
  border: 2px solid dimgrey !important;
}

.category-card {
  height: 22rem;
  background-color: #f2f1ef;
  width: 18rem;
}

.category-card .btn {
  border: 2px solid #e4dee0;
}

.category-card .btn:hover {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.become-an-instructor .btn:hover{
    background-color: black !important;
}

footer a {
  text-decoration: none;
}

.visible{
    display: none;
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
  .top-image img {
    height: 670px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .category-card {
    width: 14rem;
  }
  .message {
    top: 20%;
  }
}

@media (max-width: 440px) {
  .display-5 {
    font-size: 1.6rem !important;
  }
  .message {
    top: 16%;
  }
  .category-card {
    width: 18rem;
  }
  .top-image img {
    height: 20rem;
  }
}

@media (max-width: 330px) {
  .display-5 {
    font-size: 1.4rem !important;
  }
  .category-card {
    width: 16rem;
  }
}
